@charset "UTF-8";
a {
  text-decoration: none; }
  a img {
    text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.navbar-brand {
  height: 95px;
  line-height: 95px; }

.logo {
  height: 55px;
  width: 55px;
  margin-top: 5px; }

.navbar {
  margin-bottom: 0; }

.navbar-header {
  height: 95px; }

.navbar-nav li a {
  line-height: 65px;
  color: #333;
  font-size: 16px; }

.navbar-nav li.active a {
  color: #5DA31A; }

.navbar-nav li::before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute; }

.navbar-nav li.active::before {
  background-color: #5DA31A; }

.navbar-nav li a:hover, .navbar-nav li a:focus {
  text-decoration: none;
  background-color: rgba(238, 238, 238, 0.5); }

.navbar-toggle {
  padding: 19px 15px;
  margin-top: 20px;
  margin-bottom: 20px; }

.navbar-custom .navbar-toggle {
  border-color: #ddd; }
  .navbar-custom .navbar-toggle .icon-bar {
    background-color: #888; }

footer {
  background-color: #2D3244;
  color: #FFF;
  padding: 40px 0 30px 0; }
  footer h3 {
    font-size: 20px;
    font-weight: normal; }
  footer .navs {
    margin-top: 25px; }
    footer .navs a {
      color: #FFF;
      font-size: 18px; }
      footer .navs a:not(:first-child) {
        margin-left: 25px; }
  footer .content {
    margin-top: 30px; }
  footer p {
    color: #666666; }
  footer .qrcode {
    width: 115px;
    float: right; }
    footer .qrcode:not(:first-child) {
      margin-right: 30px; }
    footer .qrcode img {
      width: 115px;
      height: 115px; }
  footer .wechat p {
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    font-size: 16px; }

/*全局*/
.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1; }

.ml20 {
  margin-left: 20px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

/*组件*/
.paginate {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px; }

.card {
  height: 328px;
  box-shadow: 0px 5px 20px #AAAAAA; }
  .card img {
    height: 200px;
    width: 100%; }
  .card p {
    padding: 15px;
    color: #666666; }
  .card h4.name {
    font-size: 18px;
    background: url(../img/bg_name.png) no-repeat;
    line-height: 26px;
    padding-left: 15px;
    color: #FFF;
    font-weight: normal;
    position: absolute;
    top: 178px;
    width: 120px; }

.links {
  list-style: none;
  height: 27px;
  padding-left: 0; }
  .links::before {
    display: table;
    content: " "; }
  .links::after {
    clear: both;
    content: ''; }
  .links li {
    float: left;
    padding: 0 10px;
    border-bottom: #999999 1px solid; }
    .links li a {
      font-size: 18px;
      color: #666666;
      text-decoration: none; }
    .links li.active {
      border-bottom: #5DA31A 2px solid; }
      .links li.active a {
        color: #5DA31A; }

.with-icon {
  padding-left: 25px;
  color: #909090; }
  .with-icon:before {
    content: '';
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px; }
  .with-icon.views:before {
    background: url(../img/views.png) no-repeat; }
  .with-icon.good:before {
    background: url(../img/good.png) no-repeat; }
  .with-icon.microphone:before {
    background: url(../img/icon-microphone.png) no-repeat; }
  .with-icon.time:before {
    background: url(../img/icon-time.png) no-repeat; }

.shares {
  width: 130px; }
  .shares a {
    margin-left: 20px; }

.navbar.with-border-bottom {
  border-bottom: #5DA31A 2px solid; }

.custom-modal .bs-example {
  margin-top: 40px; }

.custom-modal .nav-tabs {
  border-bottom: none; }

.custom-modal .links {
  width: 100%;
  text-align: center; }
  .custom-modal .links li {
    width: 50%;
    text-align: center;
    border: none; }
    .custom-modal .links li.active a {
      border: none;
      border-bottom: #5DA31A 2px solid; }

.custom-modal .modal-body {
  clear: both;
  padding-bottom: 40px; }
  .custom-modal .modal-body .part {
    margin-top: 30px; }
  .custom-modal .modal-body .btn-block {
    background-color: #5DA31A;
    color: white; }
  .custom-modal .modal-body .forget {
    color: #b1b1b1;
    font-size: 14px;
    float: right;
    margin: 20px 0; }

.custom-modal .div-close {
  position: absolute;
  top: -17px;
  right: -17px; }

.custom-modal #group-verify {
  margin-left: 0;
  /*margin-right: 0;*/
  /*input{*/
  /*width: 100px;*/
  /*}*/ }

/*home*/
/*.home-banner{*/
/*background: url("../img/banner.png") no-repeat center;*/
/*height: 672px;*/
/*}*/
.home-infos {
  margin-top: 100px; }
  .home-infos h3 {
    font-size: 20px;
    font-weight: normal;
    text-align: center; }
  .home-infos p {
    color: #999999;
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px; }

.home-teachers {
  margin-top: 60px;
  margin-bottom: 60px; }
  .home-teachers .title {
    font-size: 28px;
    font-weight: normal; }
  .home-teachers .intro {
    font-size: 20px;
    color: #5FA328;
    font-weight: normal; }
  .home-teachers .header {
    margin-bottom: 50px; }

.bg-gray {
  background-color: #F1F1F1; }

/*list*/
.page-list .links {
  margin-top: 30px; }

.page-list .list .list-item {
  background-color: white;
  padding: 15px 24px;
  height: 208px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px #AAAAAA; }
  .page-list .list .list-item .title {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .page-list .list .list-item .detail {
    padding: 10px 20px 0 20px;
    width: 360px; }
  .page-list .list .list-item .brief {
    height: 85px;
    font-size: 12px;
    margin-top: 10px; }

.page-list .list .pic {
  width: 265px;
  height: 180px; }

.page-list .list .meta {
  /*position: fixed;*/
  /*bottom: 15px;*/
  margin-top: 20px;
  width: 320px; }

.page-list .logo-class-schedule img {
  width: 100%; }

.page-list .related {
  margin-top: 20px;
  background-color: white;
  padding: 15px; }
  .page-list .related .links {
    margin-top: 0; }
    .page-list .related .links a {
      font-size: 16px; }

.page-list .related-list .list-item {
  margin-bottom: 15px; }
  .page-list .related-list .list-item img {
    width: 60px;
    height: 60px;
    position: absolute; }
  .page-list .related-list .list-item .detail {
    padding-left: 70px; }
  .page-list .related-list .list-item .title {
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 12px; }
    .page-list .related-list .list-item .title a {
      font-size: 12px;
      color: #666666; }

/*about*/
.page-about .page-content {
  margin-top: 100px; }

.page-about .section {
  margin-bottom: 50px; }
  .page-about .section .title {
    font-size: 18px;
    color: #5DA31A;
    border-left: 2px solid #5DA31A;
    padding-left: 5px;
    font-weight: normal; }
  .page-about .section p {
    padding-left: 7px;
    font-size: 14px;
    color: #666666; }
  .page-about .section ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .page-about .section ul li {
      padding-left: 1em;
      text-indent: -.7em; }
      .page-about .section ul li:before {
        font-size: 1.5em;
        content: "• ";
        color: #5DA31A;
        top: 3px;
        position: relative; }
  .page-about .section .more {
    color: #333333;
    font-weight: bold; }

.page-about .pic-book {
  height: 213px; }

.page-about .business {
  /*padding: 10px 7px;*/ }
  .page-about .business div {
    /*margin-left: 15px;*/
    height: 50px;
    margin-bottom: 20px; }
  .page-about .business .point {
    background-color: #EEEEEE;
    padding: 5px 20px;
    text-align: center; }

.page-about .div-custom-hr {
  margin-top: 100px; }
  .page-about .div-custom-hr .custom-hr {
    margin: 0 20px;
    border-top: 1px solid #5DA31A; }
  .page-about .div-custom-hr img {
    display: block;
    margin: -50px auto 0 auto; }

/*jike*/
.page-jike .filter {
  background-color: white;
  padding: 10px 20px;
  color: #8A8A8A; }
  .page-jike .filter .title {
    width: 150px; }
  .page-jike .filter a {
    color: #8A8A8A;
    margin-right: 20px; }

.page-jike .list-jike a.link-card {
  color: #333; }
  .page-jike .list-jike a.link-card:hover .card {
    box-shadow: 0px 5px 20px #AAAAAA; }

.page-jike .list-jike .card {
  /*box-shadow: 0px 5px 20px #AAAAAA;*/
  background-color: white;
  box-shadow: none;
  height: 320px;
  margin-bottom: 20px; }
  .page-jike .list-jike .card img {
    /*width: 320px;*/
    height: 199px; }
  .page-jike .list-jike .card .title {
    font-size: 14px;
    padding: 5px 0;
    /*font-weight: bold;*/ }
  .page-jike .list-jike .card .detail {
    padding: 20px 10px; }
  .page-jike .list-jike .card .meta {
    color: #AAAAAA;
    font-size: 12px;
    margin-top: 10px; }
    .page-jike .list-jike .card .meta .right {
      text-align: right; }
    .page-jike .list-jike .card .meta div div {
      height: 20px;
      line-height: 20px; }
  .page-jike .list-jike .card .price-tag {
    position: absolute;
    background-color: #5CA319;
    top: 0;
    left: 30px;
    color: white;
    padding: 8px 15px;
    font-size: 12px; }
    .page-jike .list-jike .card .price-tag.warning {
      background-color: #F5A623; }

.page-jike .page-content {
  padding-bottom: 100px; }

.page-detail .banner .left, .page-detail .banner .right {
  height: 316px; }

.page-detail .banner .brief {
  padding: 10px 30px;
  font-size: 13px;
  color: #777777; }

.page-detail .player {
  height: 316px; }
  .page-detail .player img {
    width: 100%;
    /*height: 100%;*/
    max-width: 100%;
    max-height: 100%; }
  .page-detail .player .icon-play {
    position: absolute;
    right: 60px;
    bottom: 30px; }

.page-detail .info {
  background-color: #F8E71C; }
  .page-detail .info .header {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px; }

.page-detail .questions-and-answers {
  margin-top: 60px;
  margin-bottom: 100px; }
  .page-detail .questions-and-answers .header {
    font-size: 18px; }
  .page-detail .questions-and-answers .sections {
    margin-top: 40px; }

.page-detail .meta {
  color: #909090; }

.page-detail .answer-header {
  color: #5DA31A;
  margin-top: 20px; }

.page-detail .text {
  padding: 20px;
  background-color: #F5F5F5;
  margin-top: 10px; }

.page-shiye {
  /*a.link-card{*/
  /*color: #333;*/
  /*&:hover{*/
  /*.card{*/
  /*box-shadow: 0px 5px 20px #AAAAAA;*/
  /*}*/
  /*}*/
  /*}*/ }
  .page-shiye .shiye-banner {
    background-color: #02051D;
    /*height: 1040px;*/ }
    .page-shiye .shiye-banner .lesson {
      color: white;
      margin-bottom: 50px; }
      .page-shiye .shiye-banner .lesson .img-circle {
        height: 270px;
        width: 270px;
        border: 10px solid white; }
      .page-shiye .shiye-banner .lesson h4 {
        font-size: 18px;
        font-weight: normal; }
      .page-shiye .shiye-banner .lesson .brief {
        font-size: 14px;
        margin-top: 40px;
        line-height: 40px;
        height: 160px;
        overflow: hidden;
        text-overflow: ellipsis; }
  .page-shiye .card {
    /*box-shadow: 0px 5px 20px #AAAAAA;*/
    color: #AAAAAA;
    background-color: #02051D;
    box-shadow: none;
    height: 455px;
    margin-bottom: 20px;
    /*.content-shiye{*/
    /*background-color: #D8E5EE;*/
    /*}*/ }
    .page-shiye .card .pic {
      /*width: 320px;*/
      height: 160px; }
    .page-shiye .card .title {
      font-size: 16px;
      padding: 5px 0;
      font-weight: normal;
      color: white; }
    .page-shiye .card .detail {
      padding: 20px 15px; }
    .page-shiye .card .header {
      padding: 30px 15px 10px 15px; }
    .page-shiye .card .meta {
      color: #AAAAAA;
      font-size: 12px; }
      .page-shiye .card .meta div div {
        height: 20px;
        line-height: 20px; }
    .page-shiye .card .desc {
      color: #EEEEEE;
      font-size: 12px;
      line-height: 20px;
      height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px; }
  .page-shiye .bg-shiye {
    background-color: #D8E5EE; }
  .page-shiye .list-lessions {
    margin-top: 40px; }
  .page-shiye .share div {
    margin-top: 20px; }
    .page-shiye .share div img {
      cursor: pointer;
      cursor: hand; }
