@charset "UTF-8";
body {
  padding-bottom: 20px; }

a img {
  text-decoration: none; }

.navbar-brand {
  height: 95px;
  line-height: 95px; }

.logo {
  height: 55px;
  width: 55px;
  margin-top: 5px; }

.navbar {
  margin-bottom: 0; }

.navbar-header {
  height: 95px; }

.navbar-nav li a {
  line-height: 65px;
  color: #333;
  font-size: 16px; }

.navbar-nav li.active a {
  color: #5DA31A; }

.navbar-nav li::before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute; }

.navbar-nav li.active::before {
  background-color: #5DA31A; }

.navbar-nav li a:hover, .navbar-nav li a:focus {
  text-decoration: none;
  background-color: rgba(238, 238, 238, 0.5); }

footer {
  background-color: #2D3244;
  color: #FFF;
  padding: 40px 0 30px 0; }
  footer h3 {
    font-size: 20px;
    font-weight: normal; }
  footer .navs {
    margin-top: 25px; }
    footer .navs a {
      color: #FFF;
      font-size: 18px; }
      footer .navs a:not(:first-child) {
        margin-left: 25px; }
  footer .content {
    margin-top: 30px; }
  footer p {
    color: #666666; }
  footer .qrcode {
    width: 115px;
    float: right; }
    footer .qrcode:not(:first-child) {
      margin-right: 30px; }
    footer .qrcode img {
      width: 115px;
      height: 115px; }
  footer .wechat p {
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    font-size: 16px; }

/*全局*/
.clearfix {
  overflow: auto;
  zoom: 1; }

.ml20 {
  margin-left: 20px; }

/*组件*/
.card {
  height: 328px;
  box-shadow: 0px 5px 20px #AAAAAA; }
  .card img {
    height: 200px;
    width: 100%; }
  .card p {
    padding: 15px;
    color: #666666; }
  .card h4.name {
    font-size: 18px;
    background: url(../img/bg_name.png) no-repeat;
    line-height: 26px;
    padding-left: 15px;
    color: #FFF;
    font-weight: normal;
    position: absolute;
    top: 178px;
    width: 120px; }

.links {
  list-style: none;
  height: 27px;
  padding-left: 0; }
  .links::before {
    display: table;
    content: " "; }
  .links::after {
    clear: both;
    content: ''; }
  .links li {
    float: left;
    padding: 0 10px;
    border-bottom: #999999 1px solid; }
    .links li a {
      font-size: 18px;
      color: #666666;
      text-decoration: none; }
    .links li.active {
      border-bottom: #5da31a 2px solid; }
      .links li.active a {
        color: #5da31a; }

.with-icon {
  padding-left: 25px;
  color: #909090; }
  .with-icon:before {
    content: '';
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px; }
  .with-icon.views:before {
    background: url(../img/views.png) no-repeat; }
  .with-icon.good:before {
    background: url(../img/good.png) no-repeat; }

.shares {
  width: 130px; }
  .shares a {
    margin-left: 20px; }

/*home*/
.home-banner {
  background: url("../img/banner.png") no-repeat center;
  height: 672px; }

.home-infos {
  margin-top: 100px; }
  .home-infos h3 {
    font-size: 20px;
    font-weight: normal;
    text-align: center; }
  .home-infos p {
    color: #999999;
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px; }

.home-teachers {
  margin-top: 60px;
  margin-bottom: 60px; }
  .home-teachers .paginate {
    margin-top: 30px;
    text-align: center; }
  .home-teachers .title {
    font-size: 28px;
    font-weight: normal; }
  .home-teachers .intro {
    font-size: 20px;
    color: #5FA328;
    font-weight: normal; }
  .home-teachers .header {
    margin-bottom: 50px; }

/*list*/
.page-list .navbar {
  border-bottom: #5da31a 2px solid; }

.page-list .page-content {
  background-color: #F1F1F1; }

.page-list .links {
  margin-top: 30px; }

.page-list .list .list-item {
  background-color: white;
  padding: 15px 24px;
  height: 208px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px #AAAAAA; }
  .page-list .list .list-item .title {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .page-list .list .list-item .detail {
    padding: 10px 20px 0 20px;
    width: 360px; }
  .page-list .list .list-item .brief {
    height: 85px;
    font-size: 12px;
    margin-top: 10px; }

.page-list .list .pic {
  width: 265px;
  height: 180px; }

.page-list .list .meta {
  /*position: fixed;*/
  /*bottom: 15px;*/
  margin-top: 20px;
  width: 320px; }

.page-list .logo-class-schedule img {
  width: 100%; }

.page-list .related {
  margin-top: 20px;
  background-color: white;
  padding: 15px; }
  .page-list .related .links {
    margin-top: 0; }
    .page-list .related .links a {
      font-size: 16px; }

.page-list .related-list .list-item {
  margin-bottom: 15px; }
  .page-list .related-list .list-item img {
    width: 60px;
    height: 60px;
    position: absolute; }
  .page-list .related-list .list-item .detail {
    padding-left: 70px; }
  .page-list .related-list .list-item .title {
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 12px; }
    .page-list .related-list .list-item .title a {
      font-size: 12px;
      color: #666666; }
